# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# VSCode
.vscode

# Finder (MacOS) folder config
.DS_Store

# Data files
/data/*.json
/uploads/*

# Build files
/build
*.exe
*.msi
*.zip
*.tar.gz
*.tar.xz
*.tgz
*.dmg
*.iso
*.jar
*.war
*.ear
*.sar
*.rar
*.alz
*.ace
*.zoo
*.cpio
*.7z
*.rz
