:root {
  --theme-transition: background-color 0.3s ease, color 0.3s ease;
}

:root[data-theme='light'] {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}

body {
  transition: var(--theme-transition);
}
